<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>
    
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "projects", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
		<h1>Home Page</h1>
		<%= link_to "Pending Projects", projects_path if logged_in?(:admin)%>
		&nbsp
		<%= link_to "Bugs", bugs_path if logged_in?(:admin, :QA) %>
		&nbsp
		<%= link_to "Assigned Projects", assign_projects_pages_path if logged_in?(:Developer) %>
		<%= link_to "Completed Projects", assignment_projects_path if logged_in?(:admin) %>
		<%= link_to "Completed Projects", completed_pro_pages_path if logged_in?(:Developer) %>
		<hr>



		<% if logged_in?(:admin) %>
		<h2>Registered Users:</h2>
			 <% @users.each do |users| %>
				 <!-- <p><b>Name: </b><%= users.first_name %> <%= users.last_name %></p> -->
				 <p><b>Name: </b><%= users.full_name %></p>
				 <p><b>Role: </b><%= users.role %></p>
				 <hr>
			<% end %>
		<% end %>
  </body>
</html>