<%= form_for (@projects) do |form| %>
  <div>
    <b><%= form.label :title, style: "display: block" %></b>
    <%= form.text_field :title, required: true %>
  </div>
  <br>
  <div>
    <%= form.fields_for :discriptions do |discription_form| %>
      <%= discription_form.label :detail %>
      <%= discription_form.text_field :detail %>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit%>
  </div>
<% end %>