<h1>Projects</h1>
<%= link_to"Create New Project",new_project_path %>
<% @projects.each do |projects| %>
<% if projects.stages != "Completed" %>
 <h3><b>Title:</b> <%= link_to projects.title, project_path(projects)%> </h3>
 <p><b>Current Stage:</b> <%= projects.stages %>...</p>

<%= form_for(projects) do |form| %>
    <div>
      <b><%= form.label "Developer" %>:</b>
      <%= form.select(:user_id, (@users.pluck :first_name, :id) ) %>
    </div> 
    <br>

    <div>
      <%= form.submit "Apply"%>
    </div>
<% end %>
<br>
 <%= button_to "Destroy", project_path(projects), method: :delete %>
 <hr>
<% end %>
<% end %>