<h1><%= @projects.title%></h1>
<em><b>Stage: </b><%= @projects.stages%></em>
<p><%= link_to "Edit Project", edit_project_path if logged_in?(:admin)%> </p>

<% @projects.discriptions.each do |d| %>
<p><b>Detail: </b><%= d.detail %></p>
<% end %>


<h1>Bugs:</h1>
<% @projects.bugs.each do |bugs| %>
         <p><b>Title: </b><%= bugs.title%></p>
         <p><b>Type: </b><%= bugs.bug_type%></p>
         <p><b>Stage: </b><%= bugs.stages%>...</p>

         <% bugs.discriptions.each do |d| %>
        <p><b>Detail: </b><%= d.detail %></p>
        <% end %>

         <% if logged_in?(:Developer) %>
             <%= form_for(bugs) do |form| %>
              <div>
                <b>Change <%= form.label :stages %>:</b>
                <%= form.select(:stages, Bug::STAGES_LIST) %>
              </div>
              <br>

              <div>
                <%= form.submit "apply"%>
              </div>
            <% end %>
        <% end %>
         <hr>
 <% end %>