<h1><%= @projects.title%></h1>
<em><%= @projects.stages%></em>
<p><%= link_to "Edit Project", edit_project_path %> </p>
<h1>Bugs</h1>
<% @projects.bugs.each do |bugs| %>
 <p><b>Title: </b><%= bugs.title%></p>
 <p><b>Type: </b><%= bugs.bug_type%></p>
 <p><b>Stage: </b><%= bugs.stages%>...</p>
 <hr>
 <% end %>