<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <p class="notice"><%= notice if notice != "Permission Denied"%></p>
      <p class="alert"><%= alert %></p>
      <% if current_user %>
      <h2 class="user"><em>Hi, <%= current_user.first_name.upcase %></em></h2>
      <div >
      <%= button_to "logout", destroy_user_session_path,class: "btn", method: :delete%>
      </div>
      <% else %>
      <%= link_to "Register", new_user_registration_path %>&nbsp
      <%= link_to "Login", new_user_session_path %>
      <% end %>
      <p><%= link_to "Home", root_path %></p>
    <%= yield %>
  </body>
</html>
